.nav-link:hover {
  background-color: #ddd;
  transition: background-color 0.2 linear;
}

footer {	/* taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fixed_footer */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
